

<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>CWI API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>


<body>
 <div class="login">
  <h1>Complex Word Identification</h1>

<!--  <h5>Enter the sentence : </h5>-->

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
<!--    	<input type="text" name="sentence" placeholder="Sentence" required="required" />-->

        <div class="inline-div">
            <p align="center">Original Sentence</p>
            <textarea name="sentence" placeholder="Sentence" required="required"  cols="80" rows="12" wrap="soft" class="inline-txtarea">{{sentence}}</textarea>
        </div>
        <div class="inline-div">
            <p align="center">Simplified Sentence</p>
            <textarea readonly cols="80" rows="12" class="inline-txtarea"></textarea>
        </div>
        <br>
        <br>
        <br>

        <button type="submit" name="action" class="btn btn-primary btn-block2 btn-large" value="display">Get Complex Words</button>
        <button type="submit" name="action" class="btn btn-primary btn-block2 btn-large" value="getls">Simplify Text</button>
<!--        <textarea name="sentence" placeholder="Sentence" required="required" rows="5" cols="97" wrap="soft"></textarea>-->

    </form>

     <br>

     <h4> Complex Words in the given sentence: </h4>
     <h6> {{ complex_words }}</h6>
     <br>
     <h4> Detailed Word Complexity Information </h4>

     <h6> {{ prediction_text }}</h6>


 </div>


</body>
</html>